@model IEnumerable<CoffeeStore.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p class="pull-left">
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Customer" asp-action="Index" method="get">
    <div class="form-inline pull-right">
        <label>Search:</label>
        <br />Customer Name:
        <input type="text" name="searchString" value="@ViewData["currentFilter"]" class="form-control mr-1">
        <button type="submit" class="btn btn-primary">Filter</button>
    </div>
</form>
<br /><br /><br /><br /><br />
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"
                asp-route-searchString="@ViewData["CurrentFilter"]">
                @Html.DisplayNameFor(model => model.customerID)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AmountSortParm"]"
                asp-route-searchString="@ViewData["CurrentFilter"]">
                @Html.DisplayNameFor(model => model.paymentAmount)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paymentType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customers.customerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.paymentAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.paymentType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.paymentID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.paymentID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.paymentID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
