@model IEnumerable<CoffeeStore.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p class="pull-left">
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Item" asp-action="Index" method="get">
    <div class="form-inline pull-right">
        <label>Search:</label>
        <br />Item Category Name:
        <input type="text" name="searchString1" value="@ViewData["currentFilter1"]" class="form-control mr-1">
        &nbsp;Item Name:
        <input type="text" name="searchString2" value="@ViewData["currentFilter2"]" class="form-control mr-1">
        <button type="submit" class="btn btn-primary">Filter</button>
    </div>
</form>
<br /><br /><br /><br /><br />
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CateNameSortParm"]"
                   asp-route-searchString1="@ViewData["CurrentFilter1"]"
                   asp-route-searchString2="@ViewData["CurrentFilter2"]">
                    @Html.DisplayNameFor(model => model.itemcategoryID)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"
                   asp-route-searchString1="@ViewData["CurrentFilter1"]"
                   asp-route-searchString2="@ViewData["CurrentFilter2"]">
                    @Html.DisplayNameFor(model => model.itemName)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]"
                   asp-route-searchString1="@ViewData["CurrentFilter1"]"
                   asp-route-searchString2="@ViewData["CurrentFilter2"]">
                    @Html.DisplayNameFor(model => model.price)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCategories.itemcategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                <div style="width: 10rem;">
                    <img class="img-responsive img-thumbnail rounded float-left" style="width: 10rem;height:6.67rem"
                         src="data:image/jpeg;base64,@(item.itemImage == null ? "" : Convert.ToBase64String(item.itemImage)) " />
                </div>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.itemID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.itemID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.itemID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
