@model IEnumerable<CoffeeStore.Models.OrderDetail>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p class="pull-left">
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="OrderDetail" asp-action="Index" method="get">
    <div class="form-inline pull-right">
        <label>Search:</label>
        <br />
        &nbsp;Item Name:
        <input type="text" name="searchString" value="@ViewData["currentFilter"]" class="form-control mr-1">
        <button type="submit" class="btn btn-primary">Filter</button>
    </div>
</form>
<br /><br /><br /><br /><br />
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["OrderNameSortParm"]"
                asp-route-searchString="@ViewData["CurrentFilter"]">
                @Html.DisplayNameFor(model => model.orderID)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"
                asp-route-searchString="@ViewData["CurrentFilter"]">
                @Html.DisplayNameFor(model => model.itemID)</a>
            </th>            
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["QuantitySortParm"]"
                asp-route-searchString="@ViewData["CurrentFilter"]">
                @Html.DisplayNameFor(model => model.quantity)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Orders.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Items.itemName)
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.orderDetailID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.orderDetailID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.orderDetailID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
