@model IEnumerable<CoffeeStore.Models.ItemCategory>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p class="pull-left">
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="ItemCategory" asp-action="Index" method="get">
    <div class="form-inline pull-right">
        <label>Search:</label>
        <br />Item Category Name:
        <input type="text" name="searchString" class="form-control mr-1">
        <button type="submit" class="btn btn-primary">Filter</button>
    </div>
</form>
<br /><br /><br /><br /><br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.itemcategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.itemcategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.itemcategoryID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.itemcategoryID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.itemcategoryID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
