@model PaginatedList<CoffeeStore.Models.Item>
@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="row m-1 p-1">
    <div class="pull-left" style="width:20%;margin-top:20px">
        @await Component.InvokeAsync("NavigationMenu")
    </div>
    <div class="pull-right" style="width:75%;margin-top:5px;">
        <div style="margin-bottom:20px">
            <!--pagination-->
            <a asp-action="Index"
               asp-route-category="@ViewBag.SelectedCategory"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               class="btn btn-default @(!Model.HasPreviousPage ? "disabled" : "")">
                Previous
            </a>
            <a asp-action="Index"
               asp-route-category="@ViewBag.SelectedCategory"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               class="btn btn-default @(!Model.HasNextPage ? "disabled" : "")">
                Next
            </a>
        </div>
        <table class="table table-hover">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div>
                            <img style="width:15rem;height: 10rem" class="img-responsive img-thumbnail rounded float-left"
                                 src="data:image/jpeg;base64,@(item.itemImage == null ? "" : Convert.ToBase64String(item.itemImage)) " />
                        </div>
                    </td>
                    <td style="font-size:20px ;font-family: Montserrat, sans-serif;vertical-align:middle;text-align:center">
                        @Html.DisplayFor(modelItem => item.itemName)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>